.buttonSpace {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: var(--grey4);
    justify-content: space-evenly;
    align-content: space-between;
    padding: 10px;
    
  }

  .field {
    marginTop: 20;
    marginBotton: 20;
    text-align: center;
    witdth: 80%;
  }


  .navigationButtonSpace {
    display: grid;
    justify-items: center;
    height: 6em;
    witdth: 80%;


  }