.buttonSpace {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: var(--grey4);
    justify-content: space-evenly;
    align-content: space-between;
    padding: 10px;
    
  }