
.resultsChecker {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    background-color: var(--grey2);
    justify-content: left;
    


    }

    .table {
    background-color: var(--grey2);


    }
