.photospace {
    display: grid;
    height: 12em;
    width: 100%;
    background-color: var(--grey5);
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

    }


img {
    max-width: 100%;
    height: auto;

    }